@font-face {
    font-family:'OpenSans' ;
    src: url('/public/fonts/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
}

@font-face {
    font-family:'PlayfairDisplay' ;
    src: url('/public/fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}