@use '/src/style/variables' as var;

@mixin button {
    padding: 0.75rem 1rem;
    font-family: 'OpenSans';
    font-size: 1rem;
    // border-radius: 1.5rem;
    width: 100%;
    background-color: transparent;
}

@mixin greenBtn{
    background-color: var.$secundary-color;
     border: none;
     color: white;
     width: 10rem;
}