@use '/src/style/variables' as var;
@use '/src/style/mixins' as mix;


#app__home{

    .logo{
        width: 1.35rem;
    }
    
    header{
        margin-bottom: 2rem;
    }
   
    padding-top: 3rem;
    .top__logo{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        margin-bottom: 2.5rem;
       
        h2{
           font-size: 1.81rem;
           font-weight: bolder;
        }
    }

    .search{
        background-color: rgb(217, 217, 217, 0.3);
        border: none;
        padding: 1rem;
        width: 90%;
       display: flex;
       justify-self: center;
       font-size: 1rem;
    }

    /* ----------main------ */

    .news__articles{
        .news__header{
            display: flex;
            gap: 0.5rem;
            padding: 1rem;
            border: 1px solid var.$dot-color;

            .logo{
                width: 1rem;
            }
        }

        .news__categories{
            text-transform: uppercase;
        }

        .news__content{
            display: flex;
            gap: 1rem;
            padding: 1rem;

            .news__img{
                width: 8rem;
                border-radius: 1rem;
            }

        }
       
    }
}


