@use '/src/style/variables' as var;

#app__welcome{

    main{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
   
  .welcome__logo{
   width: 10rem; 
   animation: logo 3.5s forwards ease;
        .welcome__title {
            font-size: 2.75rem;
            font-weight: bold;
            color: transparent;
            background-image: linear-gradient(var.$primary-color, var.$primary-color);
            background-repeat: no-repeat;
            background-position: -750px 0;
            background-clip: text;
            -webkit-background-clip: text;
            animation: backcolor 3s linear 1 forwards;
            __:hover{
                cursor: pointer;
            }
        }
    
  }
  
}

@keyframes backcolor {
    100% {
      background-position: 0 0;
    }
   
}
 
@keyframes logo{
    0%{
        transform: scale(0.6);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
